---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Proyectos from "../components/Proyectos.astro";
import "../styles/global.css";
---


<html class="dark">
  <head>
    <title>Álvaro Fernández - Portafolio</title>
    <meta name="description" content="Portfolio de Álvaro Fernández Amaro" />
    <meta name="keywords" content="portfolio, Álvaro Fernández Amaro, fullstack, web, desarrollo web, programación, software libre" />
    <meta name="author" content="Álvaro Fernández Amaro" />
    <meta name="viewport">
    <meta charset="UTF-8" />
  </head>
  <body class="dark:bg-black bg-neutral-100 dark:text-white text-black">
    <header>
      <Header/>
    </header>
    <main>
      <Hero/>
      <Proyectos />
    </main>
    <footer>
    </footer>
  </body>
</html>
