---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
---


<html class="dark">
  <body class="dark:bg-black bg-neutral-100 dark:text-white text-black">
    <header>
      <Header/>
    </header>
    <main>
      <Hero/>
    </main>
    <footer>
      <!-- Contenido del pie de página -->
    </footer>
  </body>
</html>


