---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
---


<html class="dark">
  <body class="dark:bg-black bg-white dark:text-white text-black">
    <Header/>
    <Hero/>
  </body>
</html>


