---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro";
---

<html class="dark">
  <body class="dark:bg-slate-900">
    <Header/>
    <Hero/>
  </body>
</html>
